:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-light-theme-color: #757575;
  --main-dark-theme-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --title-light-theme-color: #212121;
  --title-dark-theme-color: #ffffff;
  --accent-color: #2196f3;
  --background-dark-theme: #2f303a;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

.list {
  list-style: none;
}
.link {
  font-style: normal;
  text-decoration: none;
}

/*  ============ COMPONENTS  ============ */
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}
/*  ============ END COMPONENTS  ============ */

/*  ============ HEADER  ============ */
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.logo-item {
  color: var(--accent-color);
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-light-theme-color);
}

.navigation-list-link.current {
  color: var(--accent-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel-link:hover,
.header-tel-link:focus,
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}

.header-mail,
.header-tel-link {
  font-style: normal
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-light-theme-color);
}
/*  ============ END HEADER  ============ */

/*  ============ HERO  ============ */
.hero {
  background-color: var(--background-dark-theme);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-dark-theme-color);
}

.hero-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--title-dark-theme-color);
  background-color: var(--accent-color);
}
/*  ============ END HERO  ============ */

/*  ============ ADVANTAGES  ============ */
.advantages-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-light-theme-color);
}

.advantages-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-light-theme-color);
}
/*  ============ END ADVANTAGES  ============ */

/*  ============ ACTIVITIES  ============ */
/*  ============ END ACTIVITIES  ============ */

/*  ============ MASTERS  ============ */
.masters-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}

.masters-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--main-light-theme-color);
}
/*  ============ END MASTERS  ============ */

/*  ============ PORTFOLIO PROJECTS  ============ */
.projects-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
}

.projects-btn:hover,
.projects-btn:focus {
  color: var(--title-dark-theme-color);
  background-color: var(--accent-color);  
}

.projects-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-light-theme-color);
}
.projects-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-light-theme-color);
}
/*  ============ END PORTFOLIO PROJECTS  ============ */

/*  ============ FOOTER  ============ */
.footer {
  background-color: var(--background-dark-theme);
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--title-dark-theme-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--title-dark-theme-color);
}

.footer-mail,
.footer-tel-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-dark-theme-color);
}
/*  ============ END FOOTER  ============ */